* {
  margin: 0;
  box-sizing: border-box;
}

canvas {
  border: soilid 1px black;
  margin-left: 25%;
  margin-top: 20px;
  box-shadow: 0px 20px 20px #011016;
  -webkit-box-shadow: 0px 20px 20px #03141b;
}
